In [2]:
import pandas as pd

In [3]:
ssmm_candidates_x_votes_info_conv_1_11 = pd.read_csv('ssmm_candidates_x_votes_info_conv_1_11.csv', sep='\t', encoding='utf-8')
ssmm_candidates_x_votes_info_conv_1_11.head()

,conv_x_name,name,convocation_no,year_stream_no,academic_group_no,program_txt,announcement_link,announcement_dttm,votes_cnt,elected_flg,result_link,result_dttm,appearance_dttm
0,1_Левин_Андрей,Левин Андрей,1,1.1,101.0,Активный участник и организатор различных меро...,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,48.0,1.0,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
1,1_Матвеев_Дмитрий_Александрович,Матвеев Дмитрий Александрович,1,1.1,101.0,NaN,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,49.0,1.0,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
2,1_Власов_Артем_Андреевич,Власов Артем Андреевич,1,1.2,107.0,NaN,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,36.0,1.0,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
3,1_Кириллова_Полина,Кириллова Полина,1,1.2,112.0,Мне нравится заниматься общественной деятельно...,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,40.0,1.0,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
4,1_Семенов_Павел,Семенов Павел,1,1.2,112.0,"""Здравствуйте. Я так понимаю, что я уже поздно...",https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,20.0,0.0,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00

In [6]:
ssmm_organizers_info_upd = pd.read_csv('ssmm_organizers_info_upd.csv', sep='\t', encoding='utf-8')
ssmm_organizers_info_upd.head()

  year_x_year_stream                 organizer_name
0           2014_1.1          Денисов Илья Олегович
1           2014_1.1      Суркова Анастасия Юрьевна
2           2014_1.2  Глунчадзе Ираклий Вахтангович
3           2014_1.2      Суркова Анастасия Юрьевна
4           2014_1.3  Глунчадзе Ираклий Вахтангович

In [4]:
academic_group_stat = ssmm_candidates_x_votes_info_conv_1_11.groupby(['year_stream_no','academic_group_no']).agg({'conv_x_name':'count'}).reset_index().rename(columns={'conv_x_name':'application_cnt'}).sort_values(['application_cnt'],
              ascending = [False]).reset_index().drop(['index'], axis=1)
academic_group_stat[-30:]

# 107 раньше была в 1.2, теперь в 1.1
# 113 и 114 раньше не было

    year_stream_no  academic_group_no  application_cnt
80             5.2              512.0                2
81             5.2              507.0                2
82             5.1              505.0                2
83             6.2              608.0                2
84             3.3              326.0                2
85             6.4              632.0                2
86             4.2              412.0                2
87             3.5              341.0                2
88             3.3              325.0                2
89             1.3              123.0                2
90             3.2              307.0                2
91             2.2              209.0                2
92             2.2              210.0                2
93             5.4              533.0                1
94             6.3              623.0                1
95             1.1              107.0                1
96             1.2              114.0                1
97             6.2              610.0                1
98             6.1              606.0                1
99             6.1              602.0                1
100            5.1              504.0                1
101            2.5              241.0                1
102            5.1              503.0                1
103            5.3              525.0                1
104            3.2              312.0                1
105            3.4              333.0                1
106            5.2              510.0                1
107            4.4              432.0                1
108            4.4              433.0                1
109            5.3              526.0                1

In [5]:
year_stream_stat = ssmm_candidates_x_votes_info_conv_1_11.groupby(['year_stream_no']).agg({'conv_x_name':'count'}).reset_index().rename(columns={'conv_x_name':'application_cnt'}).sort_values(['application_cnt'],
              ascending = [False]).reset_index().drop(['index'], axis=1)
year_stream_stat[:60]

   year_stream_no  application_cnt
0             1.3               46
1             1.1               42
2             2.1               40
3             2.3               38
4             2.2               33
5             3.3               33
6             3.1               32
7             1.2               32
8             4.3               30
9             4.1               29
10            3.2               27
11            4.2               22
12            5.1               20
13            5.2               18
14            5.3               18
15             m1               14
16            3.4               12
17            4.4                7
18            5.4                7
19            6.3                6
20             m2                6
21            6.1                4
22            6.2                3
23            3.5                2
24            6.4                2
25            2.5                1

In [7]:
ssmm_organizers_info_final = ssmm_organizers_info_upd[ssmm_organizers_info_upd['organizer_name'] != None].groupby(['organizer_name']).agg({'year_x_year_stream':'count'}).reset_index().rename(columns={'year_x_year_stream':'elections_cnt'}).sort_values(['elections_cnt'],
              ascending = [False]).reset_index().drop(['index'], axis=1)
ssmm_organizers_info_final.head(20)

                        organizer_name  elections_cnt
0        Малиновский Георгий Андреевич             35
1           Сенотов Валерий Дмитриевич             20
2            Суркова Анастасия Юрьевна             16
3                Денисов Илья Олегович             14
4                Клюев Андрей Игоревич             13
5              Дехнич Кирилл Андреевич             11
6        Мельникова Дарья Владимировна             10
7              Нагорных Яна Валерьевна             10
8                Савин Павел Андреевич              9
9   Тонконогов Александр Владиславович              9
10       Глунчадзе Ираклий Вахтангович              8
11       Змиевский Леонид Вячеславович              8
12    Краснова Анастасия Александровна              7
13           Третьяков Пётр Максимович              6
14           Лобанова Алёна Валерьевна              5
15             Тюрина Татьяна Игоревна              5
16      Евдокимова Софья Александровна              5
17              Семенюк Павел Игоревич              4
18        Мазитова Вероника Рустэмовна              4
19          Провидухина Мария Игоревна              4