In [1]:
import pandas as pd
import numpy as np

In [2]:
mm_input = pd.read_excel('mm_input.xlsx', sheet_name = 'mm_input_nominations')
mm_input.head()

,ssmm_id,convocation_no,iteration_no,name,group_no,year_stream_no,votes_cnt,mandate_flg,rejection_before_1_iteration_flg,rejection_after_this_iteration_flg,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,1.0,1,NaN,Левин Андрей,101.0,1.1,48.0,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,1,NaN,Матвеев Дмитрий Александрович,101.0,1.1,49.0,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,1,NaN,Власов Артем Андреевич,107.0,1.2,36.0,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,1,NaN,Кириллова Полина,112.0,1.2,40.0,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,1,NaN,Семенов Павел,112.0,1.2,20.0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN