In [2]:
import pandas as pd

In [97]:
ssmm_candidates_x_votes_info_conv_1_11 = pd.read_csv('../library: main/ssmm_elections_candidates_1_11.csv', sep='\t', encoding='utf-8')
ssmm_candidates_x_votes_info_conv_1_11.head()

,conv_x_name,name,convocation_no,year_stream_no,academic_group_no,program_txt,announcement_link,announcement_dttm,votes_cnt,elected_flg,result_link,result_dttm,appearance_dttm
0,1_Левин_Андрей,Левин Андрей,1,1.1,101.0,Активный участник и организатор различных меро...,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,48.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
1,1_Матвеев_Дмитрий_Александрович,Матвеев Дмитрий Александрович,1,1.1,101.0,NaN,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,49.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
2,1_Власов_Артем_Андреевич,Власов Артем Андреевич,1,1.2,107.0,NaN,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,36.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
3,1_Кириллова_Полина,Кириллова Полина,1,1.2,112.0,Мне нравится заниматься общественной деятельно...,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,40.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
4,1_Семенов_Павел,Семенов Павел,1,1.2,112.0,"""Здравствуйте. Я так понимаю, что я уже поздно...",https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,20.0,0,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00

In [6]:
ssmm_organizers_info_upd = pd.read_csv('ssmm_organizers_info_upd.csv', sep='\t', encoding='utf-8')
ssmm_organizers_info_upd.head()

  year_x_year_stream                 organizer_name
0           2014_1.1          Денисов Илья Олегович
1           2014_1.1      Суркова Анастасия Юрьевна
2           2014_1.2  Глунчадзе Ираклий Вахтангович
3           2014_1.2      Суркова Анастасия Юрьевна
4           2014_1.3  Глунчадзе Ираклий Вахтангович

In [4]:
academic_group_stat = ssmm_candidates_x_votes_info_conv_1_11.groupby(['year_stream_no','academic_group_no']).agg({'conv_x_name':'count'}).reset_index().rename(columns={'conv_x_name':'application_cnt'}).sort_values(['application_cnt'],
              ascending = [False]).reset_index().drop(['index'], axis=1)
academic_group_stat[-30:]

# 107 раньше была в 1.2, теперь в 1.1
# 113 и 114 раньше не было

    year_stream_no  academic_group_no  application_cnt
80             5.2              512.0                2
81             5.2              507.0                2
82             5.1              505.0                2
83             6.2              608.0                2
84             3.3              326.0                2
85             6.4              632.0                2
86             4.2              412.0                2
87             3.5              341.0                2
88             3.3              325.0                2
89             1.3              123.0                2
90             3.2              307.0                2
91             2.2              209.0                2
92             2.2              210.0                2
93             5.4              533.0                1
94             6.3              623.0                1
95             1.1              107.0                1
96             1.2              114.0                1
97             6.2              610.0                1
98             6.1              606.0                1
99             6.1              602.0                1
100            5.1              504.0                1
101            2.5              241.0                1
102            5.1              503.0                1
103            5.3              525.0                1
104            3.2              312.0                1
105            3.4              333.0                1
106            5.2              510.0                1
107            4.4              432.0                1
108            4.4              433.0                1
109            5.3              526.0                1

In [5]:
year_stream_stat = ssmm_candidates_x_votes_info_conv_1_11.groupby(['year_stream_no']).agg({'conv_x_name':'count'}).reset_index().rename(columns={'conv_x_name':'application_cnt'}).sort_values(['application_cnt'],
              ascending = [False]).reset_index().drop(['index'], axis=1)
year_stream_stat[:60]

   year_stream_no  application_cnt
0             1.3               46
1             1.1               42
2             2.1               40
3             2.3               38
4             2.2               33
5             3.3               33
6             3.1               32
7             1.2               32
8             4.3               30
9             4.1               29
10            3.2               27
11            4.2               22
12            5.1               20
13            5.2               18
14            5.3               18
15             m1               14
16            3.4               12
17            4.4                7
18            5.4                7
19            6.3                6
20             m2                6
21            6.1                4
22            6.2                3
23            3.5                2
24            6.4                2
25            2.5                1

In [7]:
ssmm_organizers_info_final = ssmm_organizers_info_upd[ssmm_organizers_info_upd['organizer_name'] != None].groupby(['organizer_name']).agg({'year_x_year_stream':'count'}).reset_index().rename(columns={'year_x_year_stream':'elections_cnt'}).sort_values(['elections_cnt'],
              ascending = [False]).reset_index().drop(['index'], axis=1)
ssmm_organizers_info_final.head(20)

                        organizer_name  elections_cnt
0        Малиновский Георгий Андреевич             35
1           Сенотов Валерий Дмитриевич             20
2            Суркова Анастасия Юрьевна             16
3                Денисов Илья Олегович             14
4                Клюев Андрей Игоревич             13
5              Дехнич Кирилл Андреевич             11
6        Мельникова Дарья Владимировна             10
7              Нагорных Яна Валерьевна             10
8                Савин Павел Андреевич              9
9   Тонконогов Александр Владиславович              9
10       Глунчадзе Ираклий Вахтангович              8
11       Змиевский Леонид Вячеславович              8
12    Краснова Анастасия Александровна              7
13           Третьяков Пётр Максимович              6
14           Лобанова Алёна Валерьевна              5
15             Тюрина Татьяна Игоревна              5
16      Евдокимова Софья Александровна              5
17              Семенюк Павел Игоревич              4
18        Мазитова Вероника Рустэмовна              4
19          Провидухина Мария Игоревна              4

# MACHINE LEARNING (voter preferences by program flags)

In [ ]:
# ИДЕЯ:
#     составить таблицу из заявок только по потокам с конкуренцией и посмотреть по флагам программ, кого выбирают
# или:
#     составить таблицу из заявок только по потокам с >1 кандидатом и посмотреть по флагам программ, кто занимает первое место


# (вбрать потоки, где программы не идентичны по флагам)

In [98]:
ssmm_elections_candidates_1_11 = pd.read_csv('../library: main/ssmm_elections_candidates_1_11.csv', sep='\t', encoding='utf-8')
ssmm_elections_candidates_1_11.head()

,conv_x_name,name,convocation_no,year_stream_no,academic_group_no,program_txt,announcement_link,announcement_dttm,votes_cnt,elected_flg,result_link,result_dttm,appearance_dttm
0,1_Левин_Андрей,Левин Андрей,1,1.1,101.0,Активный участник и организатор различных меро...,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,48.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
1,1_Матвеев_Дмитрий_Александрович,Матвеев Дмитрий Александрович,1,1.1,101.0,NaN,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,49.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
2,1_Власов_Артем_Андреевич,Власов Артем Андреевич,1,1.2,107.0,NaN,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,36.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
3,1_Кириллова_Полина,Кириллова Полина,1,1.2,112.0,Мне нравится заниматься общественной деятельно...,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,40.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
4,1_Семенов_Павел,Семенов Павел,1,1.2,112.0,"""Здравствуйте. Я так понимаю, что я уже поздно...",https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,20.0,0,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00

In [17]:
ssmm_elections_streams_1_11 = pd.read_csv('../library: main/ssmm_elections_streams_1_11.csv', sep='\t', encoding='utf-8')
ssmm_elections_streams_1_11.head()

,convocation_no,year_stream_no,year_no,stream_no,announcement_link,announcement_link_date,announcement_link_time,stream_size,voted_cnt,NOTA_cnt,invalid_cnt,result_link,result_link_date,result_link_time
0,1,1.1,1.0,1.0,https://vk.com/topic-33327655_26089953,2012-02-26,0:16,139.0,68.0,6.0,NaN,https://vk.com/topic-33327655_26089953,2012-03-07,20:55
1,1,1.2,1.0,2.0,https://vk.com/topic-33327655_26089953,2012-02-26,0:16,138.0,60.0,2.0,NaN,https://vk.com/topic-33327655_26089953,2012-03-07,20:55
2,1,1.3,1.0,3.0,https://vk.com/topic-33327655_26089953,2012-02-26,0:16,115.0,73.0,5.0,NaN,https://vk.com/topic-33327655_26089953,2012-03-07,20:55
3,1,2.1,2.0,1.0,https://vk.com/topic-33327655_26089854,2012-02-25,23:49,133.0,91.0,5.0,NaN,https://vk.com/topic-33327655_26089854,2012-02-28,22:34
4,1,2.2,2.0,2.0,https://vk.com/topic-33327655_26089854,2012-02-25,23:49,111.0,60.0,3.0,NaN,https://vk.com/topic-33327655_26089854,2012-02-28,22:34

In [6]:
ssmm_programs_info_conv_1_11 = pd.read_csv('../library: main/ssmm_programs_info_conv_1_11.csv', sep='\t', encoding='utf-8')
ssmm_programs_info_conv_1_11.head()

,conv_x_name,program_txt,program_symbols_cnt,program_symbols_without_spaces_cnt,program_words_cnt,program_avg_word_length,cultmass_flg,education_flg,egoistic_flg,grants_flg,inform_flg,infrastructure_flg,partners_flg,rights_flg,sport_flg,university_level_flg,nothing_flg
0,1_Левин_Андрей,Активный участник и организатор различных меро...,138,122,17,7.176471,1,0,0,0,0,0,0,0,0,0,0
1,1_Кириллова_Полина,Мне нравится заниматься общественной деятельно...,2306,1981,322,6.152174,1,0,0,0,0,1,0,0,1,0,0
2,1_Семенов_Павел,"""Здравствуйте. Я так понимаю, что я уже поздно...",1175,1008,168,6.000000,0,0,0,0,0,1,0,1,0,0,0
3,1_Кузнецова_Алёна,"""Меня очень интересует жизнь Университета. я б...",339,295,45,6.555556,1,0,0,0,0,0,0,0,0,0,0
4,1_Кунденко_Вадим,""" Добрый день! Пару слов о себе. Путь к мехм...",971,822,147,5.591837,0,0,1,0,0,0,0,1,0,0,0

In [99]:
counter_df = ssmm_elections_candidates_1_11.groupby(['convocation_no','year_stream_no']).agg({'conv_x_name':'count', 'elected_flg': 'sum'}).rename(columns={'conv_x_name':'applications_cnt', 'elected_flg':'elected_cnt'})
counter_df = counter_df.reset_index()
counter_df

     convocation_no year_stream_no  applications_cnt  elected_cnt
0                 1            1.1                 2            2
1                 1            1.2                 4            3
2                 1            1.3                 5            3
3                 1            2.1                 4            3
4                 1            2.2                 3            3
..              ...            ...               ...          ...
194              11            5.3                 3            3
195              11            5.4                 2            2
196              11            6.1                 2            2
197              11            6.3                 1            1
198              11             m1                 3            3

[199 rows x 4 columns]

In [11]:
# сделать формулу расчета квоты от потока (до 5 курса - фикс, с 6 курса - от численности потока)

def def_quota(convocation_no, year_stream_no, stream_size):
    if convocation_no <= 5:
        if 'm' in year_stream_no:
            return 1
        elif int(year_stream_no[-1]) == 4:
            return 1
        else:
            return 3
    else:
        return min(stream_size//25 + 1, 3)
    
def_quota(6,'m1',30)

2

In [34]:
quota_df = ssmm_elections_streams_1_11[['convocation_no', 'year_stream_no', 'stream_size', 'voted_cnt']]
quota_df['quota'] = quota_df.apply(lambda x: def_quota(x['convocation_no'], x['year_stream_no'], x['stream_size']), axis=1).astype(int)
quota_df

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_10853/3423439327.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quota_df['quota'] = quota_df.apply(lambda x: def_quota(x['convocation_no'], x['year_stream_no'], x['stream_size']), axis=1).astype(int)

     convocation_no year_stream_no  stream_size  voted_cnt  quota
0                 1            1.1        139.0       68.0      3
1                 1            1.2        138.0       60.0      3
2                 1            1.3        115.0       73.0      3
3                 1            2.1        133.0       91.0      3
4                 1            2.2        111.0       60.0      3
..              ...            ...          ...        ...    ...
214              11            6.3         93.0       47.0      3
215              11             m1         51.0       26.0      3
216               1            3.4         29.0       21.0      1
217               1            4.4         32.0       20.0      1
218               4             m2          9.0        5.0      1

[219 rows x 5 columns]

In [20]:
# quota_df[quota_df['quota'].isna()]

Empty DataFrame
Columns: [convocation_no, year_stream_no, stream_size, voted_cnt, quota]
Index: []

In [41]:
quota_df[(quota_df['convocation_no'] == 6) & (quota_df['year_stream_no'] == '4.1')]

     convocation_no year_stream_no  stream_size  voted_cnt  quota
106               6            4.1         95.0       50.0      3
107               6            4.1         95.0       50.0      3

In [42]:
ssmm_elections_streams_1_11[(ssmm_elections_streams_1_11['convocation_no'] == 6) & (ssmm_elections_streams_1_11['year_stream_no'] == '4.1')]

,convocation_no,year_stream_no,year_no,stream_no,announcement_link,announcement_link_date,announcement_link_time,stream_size,voted_cnt,NOTA_cnt,invalid_cnt,result_link,result_link_date,result_link_time
106,6,4.1,4.0,1.0,https://vk.com/wall-33327655_5212,2016-10-20,0:51,95.0,50.0,0.0,2.0,https://vk.com/wall-33327655_5357,2016-10-31,23:50
107,6,4.1,4.0,1.0,https://vk.com/wall-33327655_5318,2016-10-26,22:45,95.0,50.0,0.0,2.0,https://vk.com/wall-33327655_5357,2016-10-31,23:50

In [ ]:
'''
ПОПРАВИТЬ ssmm_elections_streams_1_11:
- пронумеровать анонсы (иначе дублируются по некоторым потокам)
- добавить квоту, число заявок и число избранных
- добавить флаг превышения квоты по ТА
- добавить флаг наличия конкуренции на потоке

'''

In [100]:
full_df = quota_df.merge(counter_df,how='outer')
full_df['applications_cnt'] = full_df['applications_cnt'].fillna(0).astype(int)
full_df['elected_cnt'] = full_df['elected_cnt'].fillna(0).astype(int)
full_df

,convocation_no,year_stream_no,stream_size,voted_cnt,quota,applications_cnt,elected_cnt
0,1,1.1,139.0,68.0,3,2,2
1,1,1.2,138.0,60.0,3,4,3
2,1,1.3,115.0,73.0,3,5,3
3,1,2.1,133.0,91.0,3,4,3
4,1,2.2,111.0,60.0,3,3,3
...,...,...,...,...,...,...,...
214,11,6.3,93.0,47.0,3,1,1
215,11,m1,51.0,26.0,3,3,3
216,1,3.4,29.0,21.0,1,0,0
217,1,4.4,32.0,20.0,1,1,1
218,4,m2,9.0,5.0,1,1,1

In [101]:
# конкуренция на потоке

competition_df = full_df[full_df['applications_cnt'] > full_df['quota']].reset_index().drop(['index'],axis=1)
competition_df

,convocation_no,year_stream_no,stream_size,voted_cnt,quota,applications_cnt,elected_cnt
0,1,1.2,138.0,60.0,3,4,3
1,1,1.3,115.0,73.0,3,5,3
2,1,2.1,133.0,91.0,3,4,3
3,1,2.3,113.0,71.0,3,4,3
4,1,4.1,97.0,69.0,3,4,3
...,...,...,...,...,...,...,...
62,10,3.2,118.0,59.0,3,4,3
63,10,3.3,111.0,59.0,3,4,3
64,10,4.1,91.0,54.0,3,4,3
65,10,5.1,90.0,47.0,3,4,3
66,11,3.5,14.0,8.0,1,2,1

In [102]:
# Тен-Акушевич

TA_df = full_df[full_df['elected_cnt'] > full_df['quota']].reset_index().drop(['index'],axis=1)
TA_df

,convocation_no,year_stream_no,stream_size,voted_cnt,quota,applications_cnt,elected_cnt
0,2,4.3,NaN,NaN,3,5,4
1,3,5.3,NaN,NaN,3,4,4
2,3,m1,NaN,NaN,1,2,2
3,6,2.2,128.0,81.0,3,6,4
4,6,3.3,90.0,66.0,3,6,5
5,6,4.1,95.0,50.0,3,5,4
6,6,4.1,95.0,50.0,3,5,4
7,7,2.3,110.0,61.0,3,4,4
8,7,3.1,103.0,53.0,3,4,4
9,9,1.1,172.0,94.0,3,4,4

In [40]:
ssmm_elections_candidates_1_11[(ssmm_elections_candidates_1_11['convocation_no'] == 3) & (ssmm_elections_candidates_1_11['year_stream_no'] == 'm1')]

,conv_x_name,name,convocation_no,year_stream_no,academic_group_no,program_txt,announcement_link,announcement_dttm,votes_cnt,elected_flg,result_link,result_dttm,appearance_dttm
128,3_Короткин_Виталий_Владимирович,Короткин Виталий Владимирович,3,m1,NaN,"""с сентября 2012-н.в. являюсь председателем СК...",https://vk.com/topic-33327655_29117788,2013-11-17 14:16:00,NaN,1,https://vk.com/wall-33327655_1600,2013-12-10 01:46:00,2013-11-17 14:16:00
129,3_Буряк_Анна_Андреевна,Буряк Анна Андреевна,3,m1,NaN,"""Состояла в студсовете в 2010-2011 годах, на п...",https://vk.com/topic-33327655_29117788,2013-11-17 14:16:00,NaN,1,https://vk.com/wall-33327655_1600,2013-12-10 01:46:00,2013-11-17 14:16:00

In [32]:
competition_df.to_csv('ssmm_streams_with_competition.csv', sep='\t', encoding='utf-8', index=False)
# ssmm_organizers_info_upd.to_csv('../library: main/ssmm_organizers_1_11.csv', sep='\t', encoding='utf-8', index=False)

In [ ]:
# СЫМИТИРОВАТЬ ВЫЯВЛЕНИЕ ИЗБИРАЕМЫХ КАНДИДАТОВ 
# (все кандидаты с голосами не менее чем у кандидата на N месте, где N = quota)

In [77]:
# temp_df = ssmm_elections_candidates_1_11.merge(full_df, how='outer')

# elected_df = temp_df.groupby(['convocation_no','year_stream_no']).apply(lambda x: x['votes_cnt'].nlargest(3, keep='all')).reset_index().rename(columns={'level_2':'index'})
# elected_df.head(11)

In [ ]:
# https://stackoverflow.com/questions/37482733/selecting-top-n-elements-from-each-group-in-pandas-groupby

In [78]:
select_number = full_df[['convocation_no','year_stream_no','quota']]
select_number.set_index(['convocation_no','year_stream_no'], inplace=True)

d = select_number.to_dict()
d1 = d['quota']
# print(d1)

In [103]:
# во 2 и 3 созывах неизвестны votes_cnt, поэтому исключить
temp_df = ssmm_elections_candidates_1_11[~ssmm_elections_candidates_1_11['convocation_no'].isin([2,3])]

imitate_elected_df = temp_df.groupby(['convocation_no','year_stream_no']).apply(lambda x: x.nlargest(d1[x.name],'votes_cnt', keep='all')).reset_index(drop=True)
imitate_elected_df #.head(11)

,conv_x_name,name,convocation_no,year_stream_no,academic_group_no,program_txt,announcement_link,announcement_dttm,votes_cnt,elected_flg,result_link,result_dttm,appearance_dttm
0,1_Матвеев_Дмитрий_Александрович,Матвеев Дмитрий Александрович,1,1.1,101.0,NaN,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,49.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
1,1_Левин_Андрей,Левин Андрей,1,1.1,101.0,Активный участник и организатор различных меро...,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,48.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
2,1_Кириллова_Полина,Кириллова Полина,1,1.2,112.0,Мне нравится заниматься общественной деятельно...,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,40.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
3,1_Власов_Артем_Андреевич,Власов Артем Андреевич,1,1.2,107.0,NaN,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,36.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
4,1_Кузнецова_Алёна,Кузнецова Алёна,1,1.2,112.0,"""Меня очень интересует жизнь Университета. я б...",https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,28.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,11_Терехов_Михаил_Сергеевич,Терехов Михаил Сергеевич,11,6.1,602.0,За правду!,https://vk.com/wall-33327655_9978,2021-10-16 10:25:00,16.0,1,https://vk.com/wall-33327655_10026,2021-10-21 15:44:00,2021-10-16 10:25:00
362,11_Поликарпов_Александр_Валерьевич,Поликарпов Александр Валерьевич,11,6.3,621.0,Был одним из основателей бегового клуба MSU RU...,https://vk.com/wall-33327655_9982,2021-10-16 10:50:00,43.0,1,https://vk.com/wall-33327655_10031,2021-10-21 22:02:00,2021-10-16 10:50:00
363,11_Третьякова_Екатерина_Алексеевна,Третьякова Екатерина Алексеевна,11,m1,NaN,Я как человек с немалым опытом в делах организ...,https://vk.com/wall-33327655_9983,2021-10-16 11:20:00,19.0,1,https://vk.com/wall-33327655_10018,2021-10-20 20:21:00,2021-10-16 11:20:00
364,11_Маммагаджиев_Руслан_Гаджимагомедович,Маммагаджиев Руслан Гаджимагомедович,11,m1,NaN,Долгое время был пикчером профкома мехмата. Се...,https://vk.com/wall-33327655_9983,2021-10-16 11:20:00,10.0,1,https://vk.com/wall-33327655_10018,2021-10-20 20:21:00,2021-10-16 11:20:00
365,11_Каляев_Тимур_Джанбулатович,Каляев Тимур Джанбулатович,11,m1,NaN,"Всем привет! Я только недавно на мехмате, но х...",https://vk.com/wall-33327655_9983,2021-10-16 11:20:00,6.0,1,https://vk.com/wall-33327655_10018,2021-10-20 20:21:00,2021-10-16 11:20:00

In [87]:
# elected_df[elected_df['elected_flg'] == 0]

In [104]:
official_elected_df = temp_df[temp_df['elected_flg'] == 1]
official_elected_df

,conv_x_name,name,convocation_no,year_stream_no,academic_group_no,program_txt,announcement_link,announcement_dttm,votes_cnt,elected_flg,result_link,result_dttm,appearance_dttm
0,1_Левин_Андрей,Левин Андрей,1,1.1,101.0,Активный участник и организатор различных меро...,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,48.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
1,1_Матвеев_Дмитрий_Александрович,Матвеев Дмитрий Александрович,1,1.1,101.0,NaN,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,49.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
2,1_Власов_Артем_Андреевич,Власов Артем Андреевич,1,1.2,107.0,NaN,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,36.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
3,1_Кириллова_Полина,Кириллова Полина,1,1.2,112.0,Мне нравится заниматься общественной деятельно...,https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,40.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
5,1_Кузнецова_Алёна,Кузнецова Алёна,1,1.2,112.0,"""Меня очень интересует жизнь Университета. я б...",https://vk.com/topic-33327655_26089953,2012-02-26 00:16:00,28.0,1,https://vk.com/topic-33327655_26089953,2012-03-07 20:55:00,2012-02-26 00:16:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
518,11_Каляев_Тимур_Джанбулатович,Каляев Тимур Джанбулатович,11,m1,NaN,"Всем привет! Я только недавно на мехмате, но х...",https://vk.com/wall-33327655_9983,2021-10-16 11:20:00,6.0,1,https://vk.com/wall-33327655_10018,2021-10-20 20:21:00,2021-10-16 11:20:00
519,11_Маммагаджиев_Руслан_Гаджимагомедович,Маммагаджиев Руслан Гаджимагомедович,11,m1,NaN,Долгое время был пикчером профкома мехмата. Се...,https://vk.com/wall-33327655_9983,2021-10-16 11:20:00,10.0,1,https://vk.com/wall-33327655_10018,2021-10-20 20:21:00,2021-10-16 11:20:00
520,11_Третьякова_Екатерина_Алексеевна,Третьякова Екатерина Алексеевна,11,m1,NaN,Я как человек с немалым опытом в делах организ...,https://vk.com/wall-33327655_9983,2021-10-16 11:20:00,19.0,1,https://vk.com/wall-33327655_10018,2021-10-20 20:21:00,2021-10-16 11:20:00
521,1_Федорова_Елена_Игоревна,Федорова Елена Игоревна,1,4.4,NaN,NaN,NaN,NaN,20.0,1,https://vk.com/topic-33327655_26089874,2012-03-07 18:55:00,2012-03-07 18:55:00
523,4_Вергазов_Марат_Марсович,Вергазов Марат Марсович,4,m2,NaN,NaN,NaN,NaN,5.0,1,https://vk.com/wall-33327655_2313,2014-11-25 23:24:00,2014-11-25 23:24:00

In [106]:
# nuuuu = official_elected_df.merge(imitate_elected_df, how='outer')
# nuuuu

official_elected_df[~official_elected_df['conv_x_name'].isin(imitate_elected_df['conv_x_name'])]

Empty DataFrame
Columns: [conv_x_name, name, convocation_no, year_stream_no, academic_group_no, program_txt, announcement_link, announcement_dttm, votes_cnt, elected_flg, result_link, result_dttm, appearance_dttm]
Index: []